<header>
	<h1>Eat Da Burger!</h1>
</header><!-- /header -->


<div class="wrapper">
	<div id="create-burger">
		<form action="/" method="POST">
			<input id="burger-name" type="text" name="burger_name" placeholder="Create a burger">
			<button id="submit-btn" type="submit">Create</button>
		</form>
	</div>

	<section id="burgers-container">
		<div id="burgers-available">
			<h2>Burgers Available</h2>
			{{#each burgers}}
				{{#unless this.devoured}}
				  <div class="burger">
				    <form class="devour-burger-form" action="/{{id}}?_method=PUT" method="POST">
				  		<button class="eat-btn">Devour It!</button>
				    </form>
						{{burger_name}} <span>#{{id}}</span>
				  </div>
				{{/unless}}
			{{/each}}
		</div>
		<div id="burgers-devoured">
			<h2>Devoured Burgres</h2>
			{{#each burgers}}
				{{#if this.devoured}}
				  <div class="burger">{{burger_name}} <span>#{{id}}</span></div>
				{{/if}}
			{{/each}}
		</div>
	</section>
</div>


  <!--Footer-->
<footer>
    <a href="https://github.com/valfragier16/Burger"  target="_blank">GitHub Repo </a> 
    <a>|</a>
    <a href="https://www.linkedin.com/in/valerie-fragier-96ba54142/" target="_blank"> LinkedIn</a>
</footer>